<servers>
    <server>
        <id>relases</id>
        <username>ocrama94</username>
        <password>16Giugno94</password>
        <configuration>
            <strictHostKeyChecking>false</strictHostKeyChecking>
        </configuration>
        <privateKey>"C:\Users\Ocrama94\.ssh\id_rsa"</privateKey>
    </server>
</servers>